[flake8]
    max-line-length = 100
    per-file-ignores =
        django_advanced_password_validation/tests/settings.py: E501
    exclude =
        dist,
        build,
        env,
        venv,
        .env,
        .venv,
